themes/twentytwentyone
themes/twentytwentytwo
themes/twentytwentythree
themes/index.php

plugins/akismet
plugins/hello.php
plugins/index.php

DS_Store

!plugins
!themes/test/assets
!themes/test/assets/css
!themes/test/assets/js
!themes/test/template-parts
!themes/test/templates